<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Apply Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Are you sure? </h1>
				<div class = "card-body">
					<form th:action="@{/apply/save}" th:object = "${applic}" method="POST">
						
						<div class ="form-group">
							<label class="col-form-label col-sm-4"> Student  : </label>
							<div class="col-sm-8">
								<select th:field="*{student.id}" class ="form-control" required>
									<th:block th:each="stu : ${stud}">
									<option th:text="${stu.fullname}" th:value="${stu.id}" />
									</th:block>		
								</select>
							</div>
						</div>
						<div class ="form-group">
							<label class="col-form-label col-sm-4"> diploma Subject  : </label>
							<div class="col-sm-8">
								<select th:field="*{subject.id}" class ="form-control" required>
									<th:block th:each="sub : ${subj}">
									<option th:text="${sub.title}" th:value="${sub.id}" />
									</th:block>		
								</select>
							</div>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>