<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Professor Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>


	<div class ="container">
		<div class = "row">
			<h1> List Professor </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/professors/new}" class = "btn btn-primary btn-sm mb-3"> Add Professor</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> full name</th>
					<th> specialty</th>
					<th> subjects</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "professor: ${professors}">
					<td th:text = "${professor.fullname}"></td>
					<td th:text = "${professor.specialty}"></td>					
					
					<td>
							<a th:href = "@{/subjects}"
						 class = "btn btn-primary">add subject</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>